#global-header, #main, #global-footer {
	position: static;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
}

#global-branding {
    height: 80px;
}

	.logo-coolsculpting {
		background: none;
		padding: 0;
		margin: 0;
		float: left;
		height: auto
	}
		.home .logo-coolsculpting {padding-left: 11px;}
		.logo-coolsculpting .ir {}
	.logo-practice {
		float: right;
		background-color: transparent;
		margin: 0;
		padding: 0;
		position: static;
	}
		.logo-practice .ir {}

.show-nav {
	display: none;
}

#global-header {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(70%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );

    padding-top: 30px;
    padding-bottom: 100px;
    overflow: hidden;
}

#global-nav {
	display: block;
	background: none;
	border-width: 1px 0;
	position: static;
    width: auto;
    right: 0;
    top: 0;

    padding: 0;
}
	#global-nav ul {
		text-align: right;
	}
	#global-nav li {
		text-align: left;
		display: inline-block;
		padding: 0 23px;
		font-size: 15px;
		border: none;
		margin: 0;
		border-left: 1px solid #e4e4e4;
	}
	#global-nav li:first-child { border: none; }
	#global-nav a {
		display: block;
		color: #818181;
		font-weight: 400;
		text-transform: uppercase;
	}

#hero {
    padding: 20px 0 0 20px;
    height: 344px;
    width: 960px;
    margin: 0 auto 35px;
}
	.hero-video {
        float: left;
        width: 553px;
        margin-right: 10px;
        z-index: 1;
	}
	.hero-text {
        float: left;
        width: 377px;
        height: 311px;
        padding: 0;
	}
		.hero-text h2 {
			margin: 15px 30px 0 21px;
			line-height: 1em;
			font-size: 3.44em;
		}
		.hero-text h3 {
			font-size: 1.44em;
		}
		.hero-text .btn.btn-grey {
			position: relative;
			right: 12px;
			z-index: 0;
		}

.newsletter.content-box {
	margin-bottom: 0;
}
	.newsletter img {
		float: left;
		width: auto;
		margin: 0 20px 0 0;
		border: 5px solid #fff;
		box-shadow: 0 0 5px rgba(0,0,0,0.3);
	}
	#newsletterForm {
		margin-top: 15px;
	}
	#newsletterForm button {
		max-width: 30%;
		left: -4px;
		display: inline;
		position: relative;
		top: -32px;
		float: right;
	}

.bagallery.content-box {
	background: transparent;
}
	.bagallery h2 {
		margin: 0 0 20px;
	}
	.bagallery .view-all {
		float: right;
		margin-top: -45px;
	}
	.bagallerywrap {
		background-color: #131313;
		height: 219px;
		overflow: hidden;
	}
	.interior .bagallerywrap {
		height: auto;
	}
	.interior .ba-slider-text {
		margin-bottom: 25px;
	}
	
	.bagallerywrap div.ba-slider {
		width: 391px;
		min-height: 233px;
		margin: 0 auto;
	}
	.bagallery img {
		height: 219px;
	}
	.ba-slider-text p, .ba-slider-text p.after {
		text-align: center;
	}
	.bagallery a, .bagallery span {
		display: block;
	}

.bio.content-box {
	padding-left: 0px;
}
	.bio > img {
		float: left;
		width: 20%;
	}
	.bio > p {
		padding-top: 2.5%;
	}

.take-quiz.ctb-blue {
	padding: 24px 25px 28px;
}

.directions.content-box {
	background-size: auto;
}

.facebook-like.content-box {
	padding: 0px;
}
	.facebook-like iframe {
	}
	.facebook-like h2 {
		width: 75%;
		letter-spacing: -1px;
		word-spacing: -1px;
		color: #9f9f9f;
	}
.promo.content-box {
	padding-top: 0;
}
	.promo:before, .promo:after {
		width: 90%;
	}
	.promo.content-box h2 {
		margin: 20px auto;
	}

#main {
    overflow: inherit;
    position: relative;
    top: -80px;
}
	.interior #main {
		background: #fff;
	}
	.interior #main:after {
		position: relative;
		top: 100px;
	}
    .interior #main .wrapper {
        padding: 33px;
        width: 920px;
        min-height: 400px;
    }

#global-footer {
	padding-top: 17px;
	text-align: left;

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 2%, rgba(255,255,255,0) 49%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.3) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(2%,rgba(255,255,255,0)), color-stop(49%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0.3)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 2%,rgba(255,255,255,0) 49%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.3) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 2%,rgba(255,255,255,0) 49%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.3) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 2%,rgba(255,255,255,0) 49%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.3) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 2%,rgba(255,255,255,0) 49%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4dffffff',GradientType=0 );

	background-position: 0px 148px;
	background-size: 130%;
}
    .social-icons {
    	float: left;
        margin: 0;
        width: auto;
    }
        .social-icons li {
            float: left;
            margin-right: 10px;
        }
    .footer-content {
    }
        .footer-content .btn-directions {
        	float: right;
        }
        .footer-address {
        	margin: 0;
        	padding: 0;
        	float: left
        }
	        .footer-address li {
	        	display: inline-block;
	        	color: #4896b3;
	        	margin: 0;
	        	padding: 0;
	        }
	        .footer-address li:nth-child(2):before, .footer-address li:nth-child(2):after {
	        	width: 1px;
	        	background: #4896b3;
	        	height: 14px;
	        	display: inline-block;
	        	content: "";
	        	position: relative;
	        	top: 2px;
	        }
	        .footer-address li:nth-child(2):before { margin-right: 7.5px; }
	        .footer-address li:nth-child(2):after  { margin-left: 7.5px;  }
        .footer-copyright {
        	float: right;
        	text-align: right;
        }
        #global-footer .wrapper:last-child {
        	background: none;
        	padding-top: 15px;
        }


.checksplit {
	float: left;
	width: 45%;
}

/*==================================================================
=Layout
----------------------------------------------------------------- */

.wrapper {

}

.onethird, .twothird, .onehalf {
    float: left;
}

.onehalf {
	width: 228px;
}

.onethird {
    width: 280px;
}

.twothird {
    width: 650px;
}

.alpha {
	margin-right: 25px;
}

.interior .onethird {
    width: 320px;
}

.interior .twothird {
    width: 553px;
    margin-right: 2em;
}

.interior .alpha {
    margin-right: 45px;
}

.onehalf.alpha {
	margin-right: 12px;
}

.interior aside.onethird {
position: static;
left: 0;
margin-top: 0;
}

/*==================================================================
=Content Boxes
----------------------------------------------------------------- */

.content-box {
    margin-bottom: 20px;
    padding: 0;
}

/*==================================================================
=IE 
----------------------------------------------------------------- */

.oldie #global-nav {
	background-image: none;
}

.oldie .ctb-blue {
	background-color: #f3f3f3;
	border: 1px solid #eee;
}

.oldie .hero-text h2 {
	font-size: 28px;
}
.oldie .hero-text em {
	font-size: 14px;
}

.ie7 .logo-coolsculpting .ir {
	height: 44px;
}

/*==================================================================
=Non-semantic helpers
----------------------------------------------------------------- */

.background {
		position: absolute;
		background: white;
		display: block;
		width: 100%;
		z-index: -1;
		height: 60%;
		content: "";
	}
		.background:before, .background:after {
			position: absolute;
			background: white;
			height: 100px;
			width: 100%;
			z-index: -1;
			content: "";
			left: 0;

		}
		.background:after {
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
			background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
			background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
			background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
			background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );

			top: 100%;
		}
		.background:before {
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

			top: -100px;
		}

* {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}