#global-header, #main, #global-footer {
	position: static;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
}

#global-branding {
    height: 80px;
}

	.logo-coolsculpting {
		background: none;
		padding: 0;
		margin: 0;
		float: left;
		height: auto
	}
		.logo-coolsculpting .ir {
		}
	.logo-practice {
		float: right;
		background-color: transparent;
		margin: 0;
		padding: 0;
		position: static;
	}
		.logo-practice .ir {

		}

.show-nav {
	display: none;
}

#global-header {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(70%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );

    padding-top: 30px;
    padding-bottom: 100px;
}

#global-nav {
	display: block;
	background: none;
	border-width: 1px 0;
	height: 55px;

	position: static;
    width: auto;
    right: 0;
    top: 0;

    padding: 0;
}
	#global-nav ul {
		padding-left: 228px;
		overflow-x: hidden;
	}
	#global-nav li {
		float: left;
		padding: 0 23px;
		font-size: 15px;
		border: none;
		margin: 0;
		border-left: 1px solid #e4e4e4;
	}
	#global-nav li:first-child { border: none; }
	#global-nav a {
		display: block;
		color: #818181;
		font-weight: 400;
		text-transform: uppercase;
	}

#hero {
    padding: 20px 0 0 20px;
    height: 344px;
    width: 957px;
    margin: 0 auto 15px;
}
	.hero-video {
        float: left;
        width: 553px;
        margin-right: 10px;
	}
	.hero-text {
        float: left;
        width: 377px;
        height: 311px;
        padding: 0;
	}
		.hero-text h2 {
			margin: 25px 30px 0 21px;
			line-height: 1em;
			font-size: 3.44em;
		}
		.hero-text h3 {
			font-size: 1.44em;
		}
		.hero-text .btn.btn-grey {
			position: relative;
			right: 12px;
			z-index: -1
		}

.newsletter {
	
}
	.newsletter img {
		float: left;
		width: auto;
		margin: 0 20px 0 0;
		border: 5px solid #fff;
		box-shadow: 0 0 5px rgba(0,0,0,0.3);
	}
	.newsletter p {
		color: #1279be;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 18px;
	}
	.newsletter form {
		clear: none;
		margin-left: 100px;
	}
	.newsletter .text {
		width: 324px;
		margin-right: 20px;
	}
	.newsletter br {
		display: block;
	}

.bagallery.content-box {
	background: transparent;
}
	.bagallery h2 {
		margin: 0 0 20px;
	}
	.bagallery .view-all {
		float: right;
		margin-top: -45px;
	}
	.bagallerywrap {
		background-color: #131313;
		height: 219px;
		overflow: hidden;
	}
	.interior .bagallerywrap {
		height: auto;
	}
	.interior .ba-slider-text {
		margin-bottom: 25px;
	}
	
	.bagallerywrap div.ba-slider {
		width: 391px;
		min-height: 233px;
		margin: 0 auto;
	}
	.bagallery img {
		height: 219px;
	}
	.ba-slider-text p, .ba-slider-text p.after {
		text-align: center;
	}
	.bagallery a, .bagallery span {
		display: block;
	}

.take-quiz.ctb-blue {
	padding: 24px 25px 28px;
}

.directions.content-box {
	background-size: auto;
}

.facebook-like.ctb-grey {
	padding: 15px;
	display: block;
}
	.facebook-like p {
		text-align: right;
		font-weight: bold;
		line-height: 18px;
		color: #255a91;
		float: left;
		width: 65%;
		margin-right: 16px;
		margin-bottom: 0;
	}
	.facebook-like iframe {
		margin-top: 7px;
	}

#main {
    overflow: inherit;
    position: relative;
    top: -80px;
}
    .interior #main .wrapper {
        padding: 33px;
        width: 920px;
        min-height: 400px;
    }
    /*.badIdea {
    	width: 100%;
    	z-index: -1;
    	height: 100px;
    	background: white;
    	position: absolute;
    	top: 280px;

		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

    }
	    .badIdea:after {
	    	content: "";
	    	display: block;
	    	background: white;
	    	height: 300px;
	    	position: relative;
	    	top: 75px;	
	    }*/

	.badIdea:before, .badIdea:after {
    	width: 100%;
    	z-index: -1;
    	height: 100px;
    	background: white;
    	content: "";
    	display: block;
    	position: relative;
    	bottom: 100px;

		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

    }
	    .badIdea {
	    	width: 100%;
	    	z-index: -1;
	    	height: 70%;
	    	background: white;
	    	content: "";
	    	display: block;
	    	position: absolute;
	    }

	    .badIdea:after {

			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
			background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
			background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
			background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
			background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );

			bottom: 0px;
			top: 378px;
	    }

#global-footer {
	padding-top: 17px;
	text-align: left;
}
    .social-icons {
    	float: left;
        margin: 0;
    }
        .social-icons li {
            float: left;
            margin-right: 10px;
        }
    .footer-content {
        float: right;
    }
        .footer-content div {
            float: left;
        }
        .footer-address {
            text-align: right;
            padding-right: 15px;
        }
        .footer-copyright {
            background: url(../images/footer-divider.png) repeat-y 0 0;
            padding-left: 15px;
        }


.checksplit {
	float: left;
	width: 45%;
}

/*==================================================================
=Layout
----------------------------------------------------------------- */

.wrapper {

}

.onethird, .twothird, .onehalf {
    float: left;
}

.onehalf {
	width: 228px;
}

.onethird {
    width: 280px;
}

.twothird {
    width: 650px;
}

.alpha {
	margin-right: 25px;
}

.interior .onethird {
    width: 320px;
}

.interior .twothird {
    width: 553px;
}

.interior .alpha {
    margin-right: 45px;
}

.onehalf.alpha {
	margin-right: 12px;
}

/*==================================================================
=Content Boxes
----------------------------------------------------------------- */

.content-box {
    margin-bottom: 20px;
}

.ctb-grey {
    padding: 30px;
    background-color: #ebebeb;
}

.ctb-blue {
    padding: 20px;
    background-color: #ffffff;
    -moz-box-shadow: inset 0 0 80px rgba(198,228,248,1), 0 1px 4px rgba(0,0,0,.43);
    -webkit-box-shadow: inset 0 0 80px rgba(198,228,248,1), 0 1px 4px rgba(0,0,0,.43);
    box-shadow: inset 0 0 100px rgba(207,233,249,1), 0 1px 4px rgba(0,0,0,.43);
}

/*==================================================================
=IE 
----------------------------------------------------------------- */

.oldie #global-nav {
	background-image: none;
}

.oldie .ctb-blue {
	background-color: #f3f3f3;
	border: 1px solid #eee;
}

.oldie .hero-text h2 {
	font-size: 28px;
}
.oldie .hero-text em {
	font-size: 14px;
}

.ie7 .logo-coolsculpting .ir {
	/*background: #f3f3f3 url(../images/sprite.png) no-repeat -9px -83px;*/
	height: 44px;
}