h1 {
	font-size: 54px;
}

#global-header,#main,#global-footer {
	position: relative;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
}

#global-branding {
	height: 80px;
}

#global-branding .wrapper {
	padding: 0px 20px;
}

.logo-coolsculpting {
	background: none;
	padding: 0;
	margin: 0;
	float: left;
	height: auto
}

.logo-coolsculpting .ir {
	
}

.logo-practice {
	float: right;
	background-color: transparent;
	margin: 0;
	padding: 0;
	position: relative;
	top: 5px;
}

.logo-practice .ir {
	float: right;
	margin: 0;
}

.logo-practice p {
	float: right;
	position: relative;
	top: -7px;
}

.show-nav {
	display: none;
}

#global-header {
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 1) ), color-stop(80%, rgba(255, 255, 255, 1) ),
		color-stop(100%, rgba(255, 255, 255, 0) ) );
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100% );
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100% );
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100% );
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',
		endColorstr='#00ffffff', GradientType=0 );
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}

#global-nav {
	display: block;
	background: none;
	border-width: 1px 0;
	position: static;
	right: 0;
	top: 0;
	padding: 30px 0px 20px 0px;
	width: auto;
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

#global-nav ul {
	
}

#global-nav li {
	text-align: left;
	display: inline-block;
	padding: 0 23px;
	font-size: 15px;
	border: none;
	margin: 0;
	border-left: 1px solid #e4e4e4;
}

#global-nav li:first-child {
	border: none;
}

#global-nav a {
	display: block;
	color: #818181;
	font-weight: 400;
	text-transform: uppercase;
}

#hero > .inner{
	width: 960px;
	margin: auto;
	padding: 0px 0px 35px 0px;
}

.hero-video {
	float: left;
	width: 630px;
	z-index: 1;
	margin: 0px 0px 0px 10px;
}

.hero-video>.inner {
	border-style: solid;
	border-color: #fff;
	border-width: 5px;
	overflow: hidden;
}

.hero-text {
	float: left;
	width: 320px;
	height: 311px;
	padding: 0;
}

.hero-text h2 {
	margin: 15px 30px 0 21px;
	line-height: 1em;
	font-size: 54px;
}

.hero-text h3 {
	font-size: 1.44em;
}

.hero-text .btn.btn-grey {
	position: relative;
	right: 12px;
	z-index: 0;
}

.newsletter.content-box {
	margin-bottom: 0;
}

.newsletter img {
	float: left;
	width: auto;
	margin: 0 20px 0 0;
	border: 5px solid #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#newsletterForm {
	margin-top: 15px;
}

#newsletterForm button {
	
}

.bagallery.content-box {
	background: transparent;
	padding-top: 10px;
}

.bagallery h2 {
	margin: 0 0 20px;
}

.bagallery .view-all {
	float: right;
	margin-top: -10px;
}

.bagallerywrap {
	background-color: #131313;
	height: 219px;
	overflow: hidden;
}

.interior .bagallerywrap {
	height: auto;
}

.interior .ba-slider-text {
	margin-bottom: 25px;
}

.bagallerywrap div.ba-slider {
	width: 391px;
	min-height: 233px;
	margin: 0 auto;
}

.bagallery img {
	height: 219px;
}

.ba-slider-text p,.ba-slider-text p.after {
	
}

.bagallery a,.bagallery span {
	display: block;
}

.home .physician {
	margin: 0;
}

.bio.content-box {
	padding-left: 0px;
}

.bio>img {
	float: left;
	width: 20%;
}

.bio>p {
	padding-top: 2.5%;
}

.take-quiz.ctb-blue {
	padding: 24px 25px 28px;
}

.directions.content-box {
	background-size: auto;
}

.facebook-like.content-box {
	padding: 0px;
}

.facebook-like iframe {
	
}

.facebook-like h2 {
	width: 80%;
	letter-spacing: -1px;
	word-spacing: -1px;
	color: #9f9f9f;
}

.promo.content-box { /*padding-top: 0;*/
	
}

.promo:before,.promo:after {
	width: 90%;
}

.promo.content-box h2 {
	
}

.home .promo.content-box {
	padding-top: 29px;
}

.home .promo.content-box h2 {
	margin-top: 19px;
	margin-bottom: 17px;
}

.home .promo:after {
	margin-top: 29px;
}

#main {
	overflow: inherit;
}

.interior #main {
	background: #fff;
}

.howitworks #main {
	background: transparent;
}

.interior #main:after {
	position: relative;
	top: 100px;
}

.consultation #main > .wrapper {
	padding: 0px 10px;
}

.about #main {
	
}

#global-footer {
	padding-top: 35px;
}

#global-footer .wrapper {
	padding: 0px 10px;
}

#global-footer:after {
	background: #fff;
	opacity: 0.3;
	content: "";
	display: block;
	height: 90px;
	margin-top: -87.5px; /* Artificial padding. */
	position: relative;
	bottom: 0px;
	z-index: -1;
}

.social-icons {
	float: left;
	width: auto;
}

.social-icons li {
	float: left;
	margin-right: 10px;
}

.footer-content {
	
}

.footer-content .btn-directions {
	float: right;
}

.footer-address {
	margin: 0;
	padding: 0;
	float: left
}

.footer-address li {
	display: inline-block;
	color: #4896b3;
	margin: 0;
	padding: 0;
}

.footer-address li:nth-child(2):before,.footer-address li:nth-child(2):after
	{
	width: 1px;
	background: #4896b3;
	height: 14px;
	display: inline-block;
	content: "";
	position: relative;
	top: 2px;
}

.footer-address li:nth-child(2):before {
	margin-right: 7.5px;
}

.footer-address li:nth-child(2):after {
	margin-left: 7.5px;
}

.footer-copyright {
	float: right;
	text-align: right;
}

#global-footer .wrapper:last-child {
	background: none;
	padding: 15px 10px;
}

.checksplit {
	float: left;
	width: 45%;
}

/*==================================================================
=Layout
----------------------------------------------------------------- */
.wrapper {
	
}

.onethird,.twothird,.onehalf {
	float: left;
}

.onehalf {
	width: 228px;
}

.onethird {
	width: 280px;
}

.twothird {
	width: 630px;
}

.alpha {
	margin-right: 25px;
}

.interior .onethird {
	width: 310px;
	padding: 0px 0px 0px 10px;
}

.consultation.interior .twothird {
	width: 600px;
	padding: 0px 10px 0px 0px;
}

.consultation .onethird {
	float:right;
}

.interior .twothird {
	width: 640px;
	padding: 0 10px;
	margin-right: 10px;
}

.interior .alpha {
	
}

.onehalf.alpha {
	margin-right: 12px;
}

.interior aside.onethird {
	position: static;
	left: 0;
	margin-top: 0;
}

.interior .onethird h2 {
	margin: 20px auto;
}

.interior #main header {
	margin-bottom: 20px;
}

.about {
	
}

.about h2,.about h2 {
	margin: 0px;
}

.about .threethird>p,.patients .threethird>p {
	margin: 1em 0;
	font-size: 20px;
}

.about .threethird img,.patients .threethird img {
	max-width: 360px;
	float: right;
	margin: 0 0 11px 11px;
}

.about .threethird aside,.patients .threethird aside {
	max-width: 33%;
	float: left;
	padding: 11px 11px 11px 0 !important;
}

.about .threethird:last-child,.patients .threethird:last-child {
	margin-top: 40px;
}

.threethird aside h2,.threethird aside p {
	height: 140px;
}

.threethird aside p {
	padding-top: 4px;
}

.threethird aside p.footnote {
	height: auto;
}

.about #newsletterForm,.patients #newsletterForm {
	margin: 0;
}

.about #newsletterEmail,.patients #newsletterEmail {
	max-width: 150px;
}

.gallery {
	
}

.gallery .ba-slider-text .physician {
	margin-bottom: 0px;
	position: relative;
	top: 72px;
}

.patients {
	
}

.patients .background {
	height: 70%;
	top: 180px;
}

.interior .twothird .promo {
	padding-left: 0;
	margin-bottom: 0;
}

.interior .twothird .promo:last-child {
	padding-left: 40px;
}

.patients .flexslider {
}

.howitworks .background {
	height: 66%;
	top: 380px;
}

/*==================================================================
=Content Boxes
----------------------------------------------------------------- */
.content-box {
	margin-bottom: 20px;
	padding: 0;
}

/*==================================================================
=IE 
----------------------------------------------------------------- */
.oldie #global-header {
	
}

.oldie #global-nav {
	background-image: none;
}

.oldie .hero-text h2 {
	font-size: 28px;
}

.oldie .footer-address li {
	float: left !important;
	display: block !important;
	padding-right: 10px;
}

.oldie #global-footer {
	
}

.oldie #global-footer:after {
	background: url('../images/transparency.png');
	margin-top: -100px;
}

.oldie .about .threethird aside {
	max-width: 30%;
}

.oldie .howitworks #main>.wrapper {
	padding: 22px 0;
}

.oldie .side-effects {
	padding-bottom: 22px;
	box-sizing: content-box;
}

.oldie .btn-directions {
	
}

.oldie .btn-directions:after {
	top: 4px;
	font-size: 3.5em;
}

.oldie .background:before,.oldie .background:after,.oldie .background {
	
}
/*==================================================================
=Non-semantic helpers
----------------------------------------------------------------- */
.background {
	display: block;
}

.about .background {
	height: 80%;
	top: 215px;
}

.gallery .background {
	height: 75%;
	top: 205px;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}